@font-face {
  font-family: Atmospheric;
  src: url("/re_Imagine_compition_project_1/public/fonts/Atmospheric-rg4aL.ttf");
}

@font-face {
  font-family: Azonix;
  src: url("/re_Imagine_compition_project_1/public/fonts/Azonix.otf");
}
@font-face {
  font-family: Doom;
  src: url("/re_Imagine_compition_project_1/public/fonts/Doom\ 2016\ Text\ 400.ttf");
}
@font-face {
  font-family: worrior;
  src: url("/re_Imagine_compition_project_1/public/fonts/KnightWarrior-w16n8.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
}
:root {
  --main-color: #f07c41;
  --night: #000;
  --day: #fff;
}
::selection {
  color: #fff;
}
.full-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.welcome_page {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}
#backgroundVideoOne,
#backgroundVideoTwo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Place behind everything */
}
.welcome_page #backgroundVideoForMobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ExtraO {
  display: none;
}

@media (max-width: 768px) {
  #backgroundVideoOne,
  #backgroundVideoTwo {
    display: none;
  }
  .welcome_page #backgroundVideoForMobile {
    display: block;
  }
  .welcome_page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .welcome_page .main_text .robo {
    display: none;
  }
  .welcome_page .text-container {
    margin-top: 4vw;
    font-weight: 800;
  }
  .welcome_page .text-container p {
    font-size: 8vw;
  }
  .welcome_page .text-container p span {
    display: block;
  }
  .text_content .text-container #dynamic-text {
    border-radius: 2px;
  }
  .text_content .text-container #cursor{
    display: none;
  }
  .welcome_page .text_content .small_text {
    font-size: 3vw;
  }
  .ExtraO {
    display: block;
    transform: translateX(8px);
  }
  .welcome_page .text_content {
    display: block;
    height: 65vw;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
  }
  .welcome_page #canvas {
    display: none;
  }
}
.background_gra {
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, black 15%, transparent);
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

canvas {
  display: block;
  background-color: transparent;
  z-index: 3;
}

.text_content {
  height: 90%;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-rows: 2vw 1fr 2vw;
  z-index: 4;
  pointer-events: none;
}
.text_content .main_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  font-family: Azonix, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.text_content .main_text .first {
  border-radius: 5px;
  padding: 1vw 1vw;
  /* margin-left: 2vw; */
}
.text_content .main_text .second {
  border-radius: 5px;
  padding: 1vw 1vw;
  margin-left: 2vw;
}
.text_content p {
  font-family: Azonix;
  font-size: 3vw;
  margin-left: 4vw;
}
.text_content .small_text {
  font-size: 2vw;
  margin-top: 9px;
}

.welcome_page .background_text_animation {
  position: absolute;
  height: 29vw;
  width: 100%;
  gap: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  pointer-events: none;
  z-index: 5;
}
.welcome_page .background_text_animation .lines {
  background-color: gray;
  height: 4vw;
}

#move {
  background: linear-gradient(to right, black, transparent, black);
  display: flex;
  justify-content: center;
  padding: 3vw 0;
  flex-wrap: nowrap;
  pointer-events: none;
  overflow: hidden;
  opacity: 0.1;
}

.marque,
.marque_right {
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0 1.5vw;
  /* background: red; */
  flex-shrink: 0;
  transform: translateX(-100%);
}

#move .marque img,
#move .marque_right img {
  height: 4vw;
}

.marque h1,
.marque_right h1 {
  font-size: 50px;
  word-spacing: 15px;
  letter-spacing: 4px;
  font-family: Worrior;
}

.main_text .robo {
  height: 162px;
  transform: translate(22px, 0px);
  width: 162px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 50%;
  overflow: hidden;
  animation: roboAnimate ease 3s infinite;
}
@keyframes roboAnimate {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
.section2 {
  background: linear-gradient(to top, black, 55%, rgb(0, 138, 145));
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  clip-path: circle(0% at 50% 50%);
  color: #fff;
}

.section2 #section2-content h1 {
  font-size: 10vw;
  margin-top: 7vw;
  color: #fff;
}
#section2-content p {
  color: #fff;
  font-size: 4vw;
}
.section3 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background: #000000;
}
.section3 h1 {
  font-size: 10vw;
  color: #fff;
}
.text_content .text-container #dynamic-text {
  background: linear-gradient(to right, yellow, red);
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-right: 1px solid #61dafb;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 1px 1px 80px 1px #000;
}

#cursor {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main_text .small_text {
  color: rgb(47, 205, 233);
}

.welcome_page .text_content .main_text .titleTextStart {
  background: linear-gradient(to right, blue, 30%, transparent);
}

.main_text .titleTextEnd {
  background: linear-gradient(to left, red, 30%, transparent);
  background-position: 40%;
}

